@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --toastify-text-color-light: #fff;
  --toastify-color-light: var(--tw-color-slate-500);
  --toastify-color-info: var(--tw-color-blue-500);
  --toastify-color-success: var(--tw-color-emerald-500);
  --toastify-color-warning: var(--tw-color-amber-500);
  --toastify-color-error: var(--tw-color-rose-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
